/*Media Query*/

/*NoteBook Device*/
@media (min-width: 768px) and (max-width: 990px){
label.logo{font-size: 25px;}
ul li a{font-size: 15px;}
.checkbtn{font-size: 20px;margin-left: 100px;}
.search{padding-top: 6px;}
.form-control{height: 29px;font-size: 13px;text-align: center;padding-top: 8px;padding-left: 23px;}
nav ul li{display: inline;line-height: 49px;margin-left: 10px;}
 nav ul {padding-right: 40px;}
   
}

@media  (max-width: 768px){
.checkbtn{display: block;}
.logo {font-size: 25px;padding: 0px;}
nav ul{background: #f8c291;height: 100vh;width: 100%;position: fixed;top: 50px;left: -100%;text-align: center;transition: .5s;}
nav ul li{display: block;}
a:hover,a.active{background: none;color: #eb2f06;}
.active:hover{background:none;}
#check:checked~ul{left: 0px}
.checkbtn {margin-left: 35%;}
.search{padding-top: 6px;}
.form-control{height: 29px;font-size: 13px;text-align: center;padding-top: 8px;padding-left: 23px;}

}




/*Tablet Device*/
@media (min-width: 575px) and (max-width: 768px){


}






/*Mobile Device*/
@media (min-width: 320px) and (max-width: 575px){
	
	
}